<article class="message">
  {{#each postMap}}
    <div class="message-header">
      <p>{{title}}</p>
      <button class="delete" aria-label="delete">Delete</button>
    </div>
    <div class="message-body">
      <p> {{content}}</p>
    </div>
  {{/each}}
  <div>
    <a href="/newpost"><button
        id="button-new"
        type="button"
        class="btn btn-dark"
      >+ New Post</button></a>
  </div>
</article>