{{> public-navbar}}

<div class="container my-5">
  <form class="login-form">
        <div class="row mb-3">
          <div class="input-group">
            <label for="username" class="col-sm-2 col-form-label">Username</label>
            <input type="text" id="username" name="username" class="form-control" />
          </div>
        </div>

        <div class="row mb-3 ">
          <div class="input-group">
            <label for="password" class="col-sm-2 col-form-label">Password</label>
            <input type="password" id="password" name="password" class="form-control" />
          </div>
        </div>

        <div class="container my-3">
        <div class="col-md-12 text-center">
            <button type="submit" class="btn btn-info m-3 ps-5 px-5">Login</button>
        </div>

        <div class="container my-2">
        <div class="col-md-12 text-center">
            <a class="text-info" href="/singup">Sign up instead</a>
        </div>
  </form>      
</div>
    
<script src="./js/login.js"></script>