{{> private-navbar}}

<form class="create-form">
  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">Title</span>
    <input
      id="title"
      type="text"
      class="form-control"
      placeholder="Title"
      aria-label="Username"
      aria-describedby="basic-addon1"
    />
  </div>
  <div class="input-group">
    <span class="input-group-text">Post</span>
    <textarea
      id="post"
      class="form-control"
      aria-label="With textarea"
    ></textarea>
  </div>
  <div>
    <a href=""><button
        id="button-create"
        type="submit"
        class="btn btn-dark"
      >Create</button></a>
  </div>
</form>
<script src="./js/post.js"></script>