{{> public-navbar}}

<div class="container my-5">
  <form class="singup-form">
        <div class="row mb-3">
          <div class="input-group">
            <label for="username" class="col-sm-2 col-form-label">Username</label>
            <input type="text" id="username-singup" name="username" class="form-control" />
          </div>
        </div>

        <div class="row mb-3">
          <div class="input-group">
            <label for="password" class="col-sm-2 col-form-label">Password</label>
            <input type="password" id="password-singup" name="password" class="form-control" />
          </div>
        </div>

        <div class="container my-3">
          <div class="col-md-12 text-center">
            <button type="submit" class="btn btn-info m-3 ps-5 px-5 text-light">Sing up!</button>
          </div>
        </div>
  </form>
</div>

<script src="./js/singup.js"></script>