<form class="singup-form">
  <div class="singup-group">
    <label for="username">Username</label>
    <input type="text" id="username" name="username" />
  </div>
  <div class="input-group">
    <label for="password">Password</label>
    <input type="password" id="password" name="password" />
  </div>
  <button type="submit">Sing up!</button>
</form>

<script src="./js/login.js"></script>